@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: o;
    background-color: rgb(0, 18, 55);
    font-family: "Poppins";
}

header {
    padding: 50px 10%;
    width: 100%;
}

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 50px;
    font-weight: bold;
}

.navbar .menu {
    display: flex;
    gap: 50px;
    font-size: 20px;
}

.navbar a {
    font-family: "Poppins";
    color: white;
    text-decoration: none;
    transition: 0.6s ease;
}

.navbar a:hover {
    color: aqua;
}

.navbar .sign {
    color: rgb(0, 18, 55);
    background-color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 20px;
}




.home {
    height: 80vh;
    display: flex;
    align-items: center;
    padding: 50px 10%;
    padding-bottom: 90px;
}

.home .content {
    color: aliceblue;
}

.home .content h1 {
    font-size: 100px;
    max-width: 1000px;
}

.home .content p {
    font-size: 20px;
    max-width: 1000px;
}

.btn-sign {
    color: rgb(0, 18, 55);
    background-color: aliceblue;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 6px;
}

.btn-sign:hover {
    background: aqua;
}

.card-container{
    display: flex;
    justify-content: ;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card{
    width:325px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
}
.card img{
    width: 100p%;
    height: 25%;
}
.card-content{
padding: 16px;
}
.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}